<!DOCTYPE html>
<html lang="en" th:insert="~{base}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <th:block th:fragment="content">
    <section class="vh-100 gradient-custom bg-image h-100" th:style="'background:url(' + @{/assets/background-usuario-editar.jpeg} + ');'">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
  
                <form method="POST" th:action="@{'/usuario/editar/' + ${usuario.id}}" th:object="${usuario}" class="mb-md-5 mt-md-4 pb-5" autocomplete="OFF">
  
                  <h2 class="fw-bold mb-2 text-uppercase">Editar Usuário</h2>
                  <p class="text-white-50 mb-5">Faça o que precisa ser feito!</p>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Usuário</label>
                    <input type="text" class="form-control form-control-lg" th:field="*{nome}" required/>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" th:field="*{email}" required/>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Senha</label>
                    <input type="password" class="form-control form-control-lg" th:field="*{senha}" required/>
                  </div>
  
                  <button class="btn btn-outline-success btn-lg px-5" type="submit">Editar</button>
                  <a th:href="@{'/usuario/deletar/' + ${usuario.id}}" class="btn btn-outline-danger btn-lg px-5">Deletar</a>
                  <a th:href="@{/jogo}" class="btn btn-outline-danger btn-lg px-5">Cancelar</a>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</body>
</html>