<!DOCTYPE html>
<html lang="en" th:insert="base">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibliotech</title>
</head>
<body>
  <th:block th:fragment="content">
    <section class="intro">
      <div class="bg-image h-100" th:style="'background:url(' + @{/assets/background-usuario-lista.jpg} + ');'">
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0,0,0,.25);">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card bg-dark shadow-2-strong">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-dark table-borderless mb-0">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">CRIADO EM</th>
                            <th scope="col">AÇÕES</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="usuario : ${lista}">
                            <th scope="row" th:text="${usuario.id}"></th>
                            <td th:text="${usuario.nome}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td th:text="${{usuario.criadoEm}}"></td>
                            <td colspan="2">
                              <a th:href="@{'/usuario/edit/' + ${usuario.id}}" class="btn btn-info">Editar</a>
                              <a th:href="@{'/usuario/delete/' + ${usuario.id}}" class="btn btn-danger">Deletar</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</body>
</html>