<!DOCTYPE html>
<html lang="en" th:insert="~{base}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibliotech</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>
  <th:block th:fragment="content">
    <section class="vh-100 gradient-custom bg-image h-100" th:style="'background:url(/uploads/' + @{${jogo.imagem}} + ');'">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
  
                <form method="POST" th:action="@{'/jogo/editar/' + ${jogo.id}}" th:object="${jogo}" class="mb-md-1 mt-md-4 pb-5" autocomplete="OFF" enctype="multipart/form-data">
  
                  <h2 class="fw-bold mb-2 text-uppercase">Editar Jogo</h2>
                  <p class="text-white-50 mb-5">Pode alterar o que quiser!</p>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control form-control-lg" th:field="*{nome}" required/>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Preço</label>
                    <input type="number" step="0.01" class="form-control form-control-lg" th:field="*{preco}" required/>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">URL</label>
                    <input type="url" class="form-control form-control-lg" th:field="*{url}" required/>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Imagem</label>
                    <input type="file" name="arquivo" class="form-control form-control-lg" accept="image/*"/>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label class="form-label">Descrição</label>
                    <textarea type="text" class="form-control form-control-lg" rows="2" th:field="*{descricao}" required></textarea>
                  </div>
  
                  <button class="btn btn-outline-success btn-lg px-5" type="submit">Editar</button>
                  <a th:href="@{'/jogo/deletar/' + ${jogo.id}}" class="btn btn-outline-danger btn-lg px-5">Deletar</a>
                  <a th:href="@{/jogo}" class="btn btn-outline-danger btn-lg px-5">Cancelar</a>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </th:block>
</body>
</html>