<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibliotech</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/lista.css}">
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
      <span class="navbar-brand">BIBLIOTECH</span>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link mx-2" th:href="@{/jogo}"><i class="fas fa-plus-circle pe-2"></i>Jogos</a>
          </li>
          <!-- if auth.nome == "admin" -->
          <li class="nav-item">
            <a class="nav-link mx-2" th:href="@{/usuario}"><i class="fas fa-bell pe-2"></i>Usuários</a>
          </li>
          <!-- endif -->
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conta
            </a>
            <ul class="dropdown-menu">
              <!-- <li><a class="dropdown-item" th:href="@{'/usuario/editar/' + ${auth.id}}">Editar</a></li> -->
              <li><a class="dropdown-item" th:href="@{/usuario/logout}">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <th:block th:insert="~{this::content}"></th:block>
</body>
</html>